<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h2{
            color: red;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    123
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script>
    
        $.ajax({
            // url:'http://v.juhe.cn/toutiao/index?type=&key=42afb22d691caeb3f2c0dec71163149a',
            url:'http://apis.juhe.cn/simpleWeather/query?city=%E5%8C%97%E4%BA%AC&key=2940d3b6da99f3a0e39d7ef505a0a4fe',
            type:'get',
            dataType:'jsonp',
            success:function(data){
                console.log(data)
            }
        })

        // document.cookie = "name=123abc"


    </script>

    <script>
    



    </script>
</body>
</html>