.clearfix:after {
    height: 0;
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;  
}
a{
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
i,em{
    font-style: normal;
}
b{
    font-weight: 400;
}
s,del{
    text-decoration: none;
}
/* 版心 */
.w{
    width: 1200px;
    margin: auto;
}
.w2{
    width: 1050px;
    margin: auto;
}
/* icomoon字体 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kovqeo');
    src:  url('../fonts/icomoon.eot?kovqeo#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?kovqeo') format('truetype'),
      url('../fonts/icomoon.woff?kovqeo') format('woff'),
      url('../fonts/icomoon.svg?kovqeo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}